input {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}
button[disabled] {
  background: grey;
}
button {
  font-size: 24px;
  background: green;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}
